.authContainer {
    width: 300px;
    margin: 100px auto 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}

.tabs {
    display: flex;
    justify-content: space-between;
}

.tabs button {
    flex: 1;
    padding: 10px;
    cursor: pointer;
    border: none;
    background-color: #eee;
}

.activeTab {
    background-color: white;
    color: #2265C9;
    font-weight: 800;
}

.form {
    display: flex;
    flex-direction: column;
}

.form input {
    margin: 5px 0;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.form button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #0070f3;
    color: white;
    cursor: pointer;
}

.error {
    color: red;
    margin-bottom: 10px;
}
