.sidebar {
  width: 8vw; 
  height: 100vh;
  background-color: #0070f3;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 2vh;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  margin-bottom: 2vh;
}

.nav {
  width: 100%;
}

.navList {
  list-style: none;
  padding: 0;
  width: 100%;
  margin-top: 20%;
}

.navItem {
  width: 100%;
  text-align: center;
  margin: 1vh 0;
}

.navLink {
  color: white;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 1vh 0; /* Adjust padding to be 1% of the viewport height */
  transition: background-color 0.3s ease;
}

.navLink span {
  margin-top: 0px;
}

.navLink:hover {
  background-color: white;
  color: white;
}

.profile {
  margin-top: auto;
  margin-bottom: 2vh; /* Adjust margin to be 2% of the viewport height */
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  color: white;
}

.profile img {
  width: 3vw; /* Adjust width to be 4% of the viewport width */
  height: auto;
  border-radius: 50%;
  margin-bottom: 1vh; /* Adjust margin to be 1% of the viewport height */
}
